<style>
	/* CSS Code */
	/* Heading */
	h1 {
		color: orangered;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b_0_0, #b_0_1, #b_0_2, #b_0_3, #b_0_4,
	#b_1_0, #b_1_1, #b_1_2, #b_1_3, #b_1_4,
	#b_2_0, #b_2_1, #b_2_2, #b_2_3, #b_2_4,
	#b_3_0, #b_3_1, #b_3_2, #b_3_3, #b_3_4,
	#b_4_0, #b_4_1, #b_4_2, #b_4_3, #b_4_4
	 {
		width: 52px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
		background-color: darkgrey;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid dodgerblue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: dodgerblue;
		color: white;
		font-size: 20px;
		cursor: pointer;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: dodgerblue;
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	.ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: dodgerblue;
		font-size: 17px;
	}
</style>
